/* Reset และ Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-sky {
    background-color: #87CEEB;
    color: white;
}

.btn-sky:hover {
    background-color: #5DADE2;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Navbar Styles */
.navbar {
    background-color: #f8f9fa;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.container {
    padding-left: 15rem;
}

.bgForm {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    z-index: 1000;
    /* opacity: 30%; */
}
.exitX{
    position: absolute;
    left: 650px;
    right: 0;
}
.formQueue {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    padding: 10px;
    text-align: left;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffffff;
    width: 700px;
}
.serviceSelect{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.checkBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
.nameSurname {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.ButtonForm {
    width: 100%;
    height: 50px;
    padding: 2px;
    border: 2px solid #154c88;
    background-color: #0056b3;
    border-radius: 10px;
    color: white;
    transition: transform 0.3s ease;
}
.ButtonForm:hover {
    background-color: #154c88;
    cursor: pointer;
    transform: scale(1.01);
}

.bgDashboard {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    z-index: 1000;
    /* opacity: 30%; */
}
.firstBar {
    display: flex;
    justify-content: center;
    gap: 200px;
}
.firstBar-Layout {
    border: 1px solid black;
    color: white;
    background-color: #0056b3;
    width: 300px;
    padding: 10px;
    margin: 10px;
}